@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}


.custom-gradient {
  background: 
      linear-gradient(to right, black, transparent 10%, transparent 90%, black),
      linear-gradient(to bottom, black, transparent 10%, transparent 90%, black);
}